@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&display=swap');

body{
			background-color: #000;
			text-align: center;
			margin: 0;
			padding: 0;
			font-family: 'Lobster Two', cursive;
		}
		h1{
			color: green;
			font-size: 30px;
		}
		h2{
			color: red;
			font-size: 25px;
		}
		.our-twon{
			color: green;
			font-size: 40px;
			font-weight: 700;
		}
		.our-tlost{
			color: red;
			font-size: 40px;
			font-weight: 700;
		}
		.main-body{
			border: 5px solid #ddd;
			border-radius: 10px;
			width: 400px;
			margin: 0 auto;
			margin-top: 30px;
			background-color: #fff;
		}
		button{
			margin: 20px 0;
			padding: 20px 40px;
			border-radius: 10px;
			font-size: 20px;
			font-weight: 700;
			border: 0;
			background-color: orange;
			font-family: 'Lobster', cursive;
		}
		.star-icon-3,
		.star-icon-2,
		.star-icon-1,
		.lugh-icon{
			display: none;
		}
		.star-icon-3 img,
		.star-icon-2 img,
		.star-icon-1 img,
		.lugh-icon img{
			width: 40px;
		}